<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/Acogero" class="btn">View on GitHub</a>
  <a href="https://github.com/Acogero/Cadastro-de-cliente" class="btn">Android</a>
  <a href="https://github.com/Acogero/CadastroDeProdutos" class="btn">Java + JSP</a>
  <a href="https://github.com/Acogero/moodleCatolica" class="btn">Plugin Moodle</a>
  <a href="https://github.com/Acogero/VisualStudio" class="btn">Visual Studio</a>
</section>